.header
  #logo
  #login_welcome
    = link_to('sign in', new_user_session_path)
    or
    = link_to('sign up', new_user_registration_path)
    or
    = link_to('sign out', destroy_user_session_path)
  #top_navigation
    %ul
      %li= link_to('blog', '')
      %li= link_to('donate', '')
      %li= link_to('meet her', '')
      %li= link_to('she needs you', '')
      %li= link_to('about us', '')
