.header
  #logo
  #login_welcome
    = link_to('Sign in', new_user_session_path)
    or
    = link_to('sign up', new_user_registration_path)
  #top_navigation
    %ul
      %li= link_to('About Us', '')
      %li= link_to('About Us', '')
      %li= link_to('About Us', '')
      %li= link_to('About Us', '')
