.row
  .eight.columns.centered
    .panel
      %h2 New campaign!
      = form_for @campaign do |f|
        = f.hidden_field :campaign_type
        %div
          = f.label :title
          = f.text_field :title
        %div
          = f.label :description
          = f.text_area :description
          
        %div
          = f.label :goal
          <div id='error-goal'>Please enter valid campaign amount.</div>
          = f.text_field :goal_in_cents, id: 'goal'
        %div
          = f.submit 'Create campaign', class: 'button', id: 'create-campaign'
