#campaign
  .row
    .five.columns
      %h1#campaign-name
        = @campaign.title
    #donate-container.seven.columns
      %br
      .panel.callout.radius
        .row
          .seven.columns
            %p Show your friends you are dedicated to our cause and be the first to donate!
          .five.columns.end
            = link_to 'Donate now!', '#', id: 'donate-button', class: 'large button'
  .panel
    .row
      .columns
        #one-more-girl
          = format_money(@campaign.amount_needed_for_one_more_girl) + ' needed to put one more girl in school!'    
  #campaign-stats.stats-box.panel
    .row
      .one.columns
        .stats-name
          Raised
        .stats-value
          = format_money(@campaign.amount_raised_in_cents)
      .four.columns
        .progress.twelve
          .meter{style: "width: #{@campaign.progress >= 100 ? 100 : @campaign.progress}%"}="#{@campaign.progress}%"
      .one.columns
        .stats-name
          Goal
        .stats-value
          = format_money(@campaign.goal_in_cents)
      .two.columns
        .stats-name
          Girls in School
        .stats-value
          = @campaign.number_of_girls_in_school
      .two.columns
        .stats-name
          Donations
        .stats-value
          = @campaign.donations.size
      .two.columns.end
        .stats-name
          Days Left
        .stats-value
          = @campaign.days_left
  .row
    .eight.columns
      .panel.callout
        %p
          Description:
          = @campaign.description
        %p
          Goal:
          = (@campaign.goal_in_cents / 100)
    .four.columns
      .panel
        %p
          End Date:
          = @campaign.end_date

#donation-form{style: 'display: none'}
  %h2
    Donation Information
  %form{method: 'post', action: "#{campaign_donate_path(@campaign.id)}"}
    .input-wrapper
      %label{for: 'amount'}
        How much do you want to donate?
      %input#amount{name: 'amount', type: 'text'}
    .input-wrapper
      %label{for: 'first-name'}
        Your first name
      %input#first-name{name: 'first_name', type: 'text'}
    .input-wrapper
      %label{for: 'last-name'}
        Your last name
      %input#last-name{name: 'last_name', type: 'text'}
    %input{type: 'submit', class: 'large button', value: 'Donate!'}
