!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title More Than Me
    = stylesheet_link_tag :application
    = javascript_include_tag :application
  %body.twelve
    #foundation-header.twelve
      .eight.columns.centered
        #foundation-logo
        %ul#foundation-menu
          %li{class: 'about'}
            = link_to 'About', 'http://morethanme.org/about.html'
          %li{class: 'sheneedsyou'}
            = link_to 'She Needs You', 'http://morethanme.org/sheneedsyou.html'
          %li{class: 'meether'}
            = link_to 'Meet Her', 'http://morethanme.org/meether.html'
          %li{class: 'donate'}
            = link_to 'Donate', 'http://morethanme.org/donate.html'
          %li{class: 'blog'}
            = link_to 'Blog', 'http://morethanme.org/blog.html'
    .main-wrapper
      #main-header
        #platform-logo
          = link_to image_tag('main-logo.jpg', alt: 'More Than Me Platform', title: 'More Than Me Platform'), root_path
        #account-container
          #account-actions
            - if user_signed_in?
              = link_to 'Sign Out', destroy_user_session_path, id: 'sign-out-link'
            - else
              = link_to 'Log In', new_user_session_path, id: 'log-in-link'
              = link_to 'Sign Up', new_user_registration_path, id: 'sign-up-button'
          - if user_signed_in?
            #profile
              #data
                %p.name
                  Luiz Ribeiro
                %p.location
                  Porto Alegre, Brazil
              #amount-raised
                %p
                  raised the total amount of
                %p.amount
                  $550

      #main-content
        = yield

      #footer
        #footer-logo
        #footer-menu
          %ul
            %li
              = link_to 'ABOUT US', 'http://morethanme.org/about.html'
            %li
              = link_to 'SHE NEEDS YOU', 'http://morethanme.org/sheneedsyou.html'
            %li
              = link_to 'MEET HER', 'http://morethanme.org/meether.html'
            %li
              = link_to 'DONATE', 'http://morethanme.org/donate.html'
            %li
              = link_to 'BLOG', 'http://morethanme.org/blog'
            %li{:style => 'border-right: none;'}
              = link_to 'SITE MAP', 'http://morethanme.org/sitemap.html'
        %p#copyright
          More Than Me is a five star rated non-profit on Global Giving. We stretch every $ given to us to make the biggest impact possible. Our EIN # 26.259.9199 <br/>&copy; 2008-2010 More than Me Foundation a 501(c)(3) non-profit organization 
