!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title More Than Me
    = stylesheet_link_tag :application
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800', rel: 'stylesheet', type: 'text/css'}
  %body
    #foundation-header.top-bar
      .row
        #foundation-logo
        %ul#foundation-menu.right
          %li.about
            = link_to 'About', 'http://morethanme.org/about.html'
          %li.sheneedsyou
            = link_to 'She Needs You', 'http://morethanme.org/sheneedsyou.html'
          %li.meether
            = link_to 'Meet Her', 'http://morethanme.org/meether.html'
          %li.donate
            = link_to 'Donate', 'http://morethanme.org/donate.html'
          %li.blog
            = link_to 'Blog', 'http://morethanme.org/blog.html'
    .row
      .six.columns
        #platform-logo
          = link_to image_tag('main-logo.jpg', alt: 'More Than Me Platform', title: 'More Than Me Platform'), root_path
      .six.columns.end
        .row
          #account-actions.right-aligned
            - if user_signed_in?
              = link_to 'Log Out', destroy_user_session_path, id: 'sign-out-link'
            - else
              = link_to 'Sign Up', new_user_registration_path, id: 'sign-up-button', class: 'small button'
              &nbsp;&middot;&nbsp;
              = link_to 'Log In', new_user_session_path, id: 'log-in-link'
        - if user_signed_in?
          .row
            #profile.twelve.columns
              #data.five.columns
                %p
                  = link_to current_user.full_name, '#'
                  %br
                  %span.location= current_user.location
              #amount-raised.seven.columns
                .six.columns
                  %p
                    raised the total amount of
                .six.columns
                  %span.amount=format_money(current_user.amount_raised_in_cents)
    #main-content
      = yield
    .row
      %hr
    #footer
      .row
        .two.columns
          #footer-logo
        #footer-menu.ten.columns.end
          %ul.inline-list
            %li= link_to 'ABOUT US', 'http://morethanme.org/about.html'
            %li= link_to 'SHE NEEDS YOU', 'http://morethanme.org/sheneedsyou.html'
            %li= link_to 'MEET HER', 'http://morethanme.org/meether.html'
            %li= link_to 'DONATE', 'http://morethanme.org/donate.html'
            %li= link_to 'BLOG', 'http://morethanme.org/blog'
            %li{style: 'border-right: none;'}= link_to 'SITE MAP', 'http://morethanme.org/sitemap.html'
          %p#copyright
            More Than Me is a five star rated non-profit on Global Giving. We stretch every $ given to us to make the biggest impact possible. Our EIN # 26.259.9199
            %br
            &copy; 2008—2012 More than Me Foundation a 501(c)(3) non-profit organization
    = javascript_include_tag :application
    = yield :moar_scripts
